.add-expense-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    margin-left: 20px;
}

.add-expense-form .form-group {
    margin-bottom: 20px;
}

.add-expense-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.add-expense-form .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-expense-form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-expense-form button:hover {
    background-color: #0056b3;
}