.Navbar-container {
    width: 100%;
    height: 60px;
    background-color: blueviolet;
    margin-bottom: 30px;
    border: 1px solid black
}
.Navbar-container h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    padding-top: 15px;

}